---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="grid md:grid-cols-3">
    <div
      class="bg-cream border-1 border-green mx-5 px-5 py-10 md:col-span-2 md:ml-10 md:mr-0 lg:ml-30 duration-300 delay-100"
    >
      <h3 id="om-mig" class="lg:mx-10">Om mig</h3>
      <p class="lg:mx-10">
        Jeg er 24 år og kommer fra Vordingborg. Kreativitet har altid været en
        naturlig del af min hverdag. Jeg har nemlig gået på en Rudolf
        Steiner-skole helt fra børnehave til 10. klasse, hvor det kunstneriske
        og skabende hele tiden var en del af undervisningen. Senere fortsatte
        jeg i musikklassen på gymnasiet, og i min fritid har jeg både spillet
        forskellige instrumenter, gået på billedskole og gennemført en treårig
        filmskole gennem ungdomsskolen.
        <br />
        Da jeg begyndte på Multimediedesign på Erhvervsakademiet København, fik jeg
        mulighed for at bygge ovenpå den kreative baggrund. Her har jeg på de to
        første semestre blandt andet lært at kode i Visual Studio i forskellige sprog,
        bruge Figma til idéudvikling og forarbejde, samt arbejde med flere af Adobes
        programmer – herunder Illustrator, After Effects og Premiere Pro.
      </p>
    </div>

    <img
      src="/lille-grafik.webp"
      alt="grafisk blomst"
      class="-mt-23 -z-10 w-600 lg:my-auto lg:right-0 md:hidden lg:block"
    />
    <img
      src="/lille-lille-grafik.webp"
      alt="grafisk blomst"
      class="hidden md:block md:my-auto lg:hidden"
    />
  </div>

  <div
    class="bg-cream border-1 border-brown mx-5 px-5 py-10 mt-40 md:mx-10 md:mb-40 lg:mx-30 duration-300 delay-100"
  >
    <h3 id="cv" class="lg:ml-10">CV</h3>
    <div class="grid lg:grid-cols-2 lg:grid-rows-2">
      <div
        class="lg:mx-10 lg:row-start-1 lg:row-end-2 lg:col-start-2 lg:col-end-3"
      >
        <h4 class="lg:mt-5">Uddannelse</h4>
        <ul>
          <li>
            Grundskole, Rudolf Steiner Skolen, Vordingborg — 2007 - 2018
          </li><br />
          <li>
            Gymnasieuddannelse (STX), Vordingborg Gymnasium og HF — 2018 - 2021
          </li><br />
          <li>
            Sygeplejerskeuddannelsen, KP, København — september 2023 - januar
            2024
          </li><br />
          <li>Multimediesign, EK, København  — august 2024 - igangværende</li>
        </ul>
      </div>

      <img
        src="/luna-img.webp"
        alt="billede af luna"
        class="border-1 border-orange my-15 w-90 mx-auto md:w-100 md:mx-0 lg:col-start-2 lg:my-0 lg:col-end-2 lg:row-start-2 lg:row-end-4 lg:mx-auto"
      />

      <div class="lg:mx-10 lg:row-start-1 lg:row-end-3">
        <h4>Erfaring</h4>
        <ul class="leading-8">
          <li>Barnepige — 2016 - 2023</li><br />
          <li>
            Rengøring i udlejnings ejendomme, PBH NR. 22.071 ApS, Lundby — 2019
            - 2021
          </li><br />
          <li>
            Pædagogmedhjælper, Stjerneskuddet, Vordingborg — Oktober 2021- juni
            2022
          </li><br />
          <li>
            Vikar, Rudolf Steiner Skolen, Vordingborg — August - December 2022
          </li><br />
          <li>
            Omsorgsmedhjælper, Marjatta, Præstø — September 2022 - januar 2023
          </li><br />
          <li>
            Kundekonsulent for Danske Bank (projektansættelse på 3 måneder), 5R
            People Næstved afdeling — februar - april 2023
          </li><br />
          <li>
            Gæsteliste/vagt, Takin’ Care of Business  — juni 2023 - juli 2024
          </li><br />
          <li>
            Pædagogmedhjælper (tilkaldevikar), Børnehuset Adilsvej,
            Frederiksberg  — februar - juli 2024
          </li><br />
          <li>
            Servicemedarbejder, Falkoner Salen, Frederiksberg — april - oktober
            2024
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="grid md:grid-cols-3">
    <img
      src="/lille-grafik.webp"
      alt="grafisk blomst"
      class="-mt-23 -z-10 w-600 md:hidden lg:block lg:order-first lg:my-auto"
    />
    <img
      src="/lille-lille-grafik.webp"
      alt="grafisk blomst"
      class="hidden md:block md:my-auto lg:hidden"
    />

    <div
      class="bg-cream border-1 border-pink mx-5 px-10 py-10 mt-40 md:col-span-2 md:mt-0 md:ml-0 md:mr-10 lg:mr-30"
    >
      <h3 id="projekter">Se lidt af hvad jeg har lavet her</h3>
      <ul>
        <a href=" https://surdejsite.netlify.app/"
          ><li class="hover:text-orange duration-300 delay-100">
            → Hjemmeside om surdej (mit første projekt)
          </li></a
        ><br />
        <a href="https://westh-portfolio.netlify.app/"
          ><li class="hover:text-green duration-300 delay-100">
            → Eksamen 1. semester (eget portfolio)
          </li></a
        ><br />
        <a href="https://keramik-site.netlify.app/"
          ><li class="hover:text-pink duration-300 delay-100">
            → Hjemmeside med keramik (gruppeprojekt)
          </li></a
        ><br />
        <a href="https://pleasantt.netlify.app/ "
          ><li class="hover:text-orange duration-300 delay-100">
            → Dynamisk side for tøjmærke (gruppeprojekt)
          </li></a
        ><br />
        <a href="https://anotherclosett.netlify.app/"
          ><li class="hover:text-green duration-300 delay-100">
            → Eksamensprojekt 2. semester (gruppeprojekt)
          </li></a
        ><br />
      </ul>
    </div>
  </div>

  <img
    src="/lille-grafik.webp"
    alt="grafisk blomst"
    class="mt-20 w-600 md:hidden"
  />
  <img
    src="/lille-mellem-grafik.webp"
    alt="grafisk blomst"
    class="hidden md:block lg:hidden md:mt-40"
  />
  <img
    src="/stor-grafik.webp"
    alt="grafisk blomst"
    class="hidden lg:block md:mt-40"
  />
</MainLayout>
