---

---

<div class="py-12">
  <div
    id="kontakt"
    class="max-w-7xl mx-auto px-5 lg:px-20 grid grid-cols-1 md:grid-cols-3 gap-8"
  >
    <!-- Navigation links -->
    <div class="flex flex-col space-y-2">
      <h3 class="text-lg">Links</h3>
      <a
        href="#om-mig"
        class="text-gray-500 hover:text-pink transition-colors text-sm"
        >Om mig</a
      >
      <a
        href="#cv"
        class="text-gray-500 hover:text-green transition-colors text-sm">CV</a
      >
      <a
        href="#projekter"
        class="text-gray-500 hover:text-orange transition-colors text-sm"
        >Projekter</a
      >
    </div>

    <!-- Kontakt / sociale medier -->
    <div class="flex flex-col space-y-2">
      <h3 class="text-lg">Kontakt</h3>
      <p class="text-gray-500 text-sm">Email: luwe0002@stud.ek.dk</p>
      <p class="text-gray-500 text-sm">Telefon: +45 50 55 14 07</p>
    </div>

    <div>
      <a href="https://github.com/lunawesth" class="flex flex-col space-y-2">
        <p class="text-center text-lg hover:text-stone-600">
          Se min Github her
        </p>
        <img src="/git-logo.png" alt="github logo" class="mx-auto mb-10" />
      </a>
    </div>
  </div>

  <!-- Copyright -->
  <div
    class="mt-12 border-t border-stone-400 pt-3 text-center text-gray-600 text-sm"
  >
    &copy; 2025 LUNA TORP WESTH. Alle rettigheder forbeholdes.
  </div>
</div>
