---

---

<div class="md:flex place-content-between md:mt-20 md:mb-10 md:mx-10">
  <p class="text-center mt-10 text-dark md:text-left">
    lunawesth@icloud.com <br />
    50 55 14 07 <br />
    København, Danmark
  </p>
  <a href="https://github.com/lunawesth">
    <p class="text-center text-dark mt-10">Se min Github her</p>
    <img src="/git-logo.png" alt="github logo" class="mx-auto mb-10" />
  </a>
  <p class="text-center mb-10 text-dark md:mt-10 md:order-first md:text-left">
    Studerende på EK <br />
    <br />
    © 2025
  </p>
</div>
