---

---

<div>
  <div class="flex flex-row place-content-end px-5 py-15 gap-10">
    <!-- <p>Praktikansøgning</p> -->
    <a href="#om-mig"><p>Om mig</p></a>
    <a href="#cv"><p>CV</p></a>
  </div>

  <div class="mb-10">
    <h1 class="text-center relative">LUNA</h1>
    <h2 class="text-right pr-1 -mt-10 relative md:-mt-23">TORP WESTH</h2>
    <img
      src="/lille-grafik.webp"
      alt="grafisk blomst"
      class="-mt-40 -z-10 md:hidden w-600"
    />
    <img
      src="/stor-grafik.webp"
      alt="grafisk blomst"
      class="hidden md:block md:-mt-55 md:-z-10 md:absolute md:h-60"
    />
    <h3 class="font-bold text-right">MULTIMEDIEDESIGNER</h3>
    <img
      src="/cutout.webp"
      alt="cutout af luna"
      class="w-70 -mt-35 z-10 relative"
    />
  </div>
</div>
