---

---

<div>
  <div
    class="flex flex-row place-content-end pr-5 pt-5 md:pt-15 md:mr-10 gap-10 lg:mr-20 z-50"
  >
    <!-- <p class="hidden md:block ">Praktikansøgning</p> -->
    <a href="#om-mig" class="hover:text-pink">Om mig</a>
    <a href="#cv" class="hover:text-green">CV</a>
  </div>

  <div class="mb-20 pointer-events-none">
    <h1
      class="text-center transform scale-y-128 lg:text-left lg:ml-50 lg:-mt-12"
    >
      LUNA
    </h1>
    <h2 class="text-right pr-1 -mt-10 transform scale-y-125 md:mr-10 lg:mr-20">
      TORP WESTH
    </h2>
    <img
      src="/lille-grafik.webp"
      alt="grafisk blomst"
      class="-mt-16 -z-10 absolute md:hidden w-auto"
    />
    <img
      src="/lille-mellem-grafik.webp"
      alt="grafisk blomst"
      class="hidden md:block lg:hidden -mt-32 -z-10 absolute w-auto"
    />
    <img
      src="/stor-grafik.webp"
      alt="grafisk blomst"
      class="hidden lg:block md:-z-10 md:absolute md:h-auto md:-mt-32 lg:w-full lg:-mt-44"
    />
    <h3
      class="font-bold text-right md:ml-50 md:mt-34 md:text-center lg:mt-26 lg:ml-70"
    >
      MULTIMEDIEDESIGNER
    </h3>
    <img
      src="/cutout.webp"
      alt="cutout af luna"
      class="w-50 -mt-35 z-10 relative md:-mt-70 md:ml-20 md:w-70 lg:w-100 lg:-mt-90 lg:ml-30"
    />
  </div>
</div>
