---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
---

<html lang="da" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body class="bg-background">
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
